# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Essential]
Zip=/usr/local/share/OGRE/Media/packs/SdkTrays.zip
Zip=/usr/local/share/OGRE/Media/packs/profiler.zip
FileSystem=/usr/local/share/OGRE/Media/thumbnails

# Resource locations to be added to the default path
[General]
FileSystem=/usr/local/share/OGRE/Media

# [CG]
# FileSystem=/usr/share/OGRE/Media/materials/programs/Cg/

[Bread]
FileSystem=media/materials/scripts
FileSystem=media/materials/textures
FileSystem=media/cube_scene
FileSystem=media/models
Zip=media/packs/cubemapsJS.zip


